﻿body 
{
	background: #dcdcdc;
	font: normal 12px Tahoma,"Lucida Grande", Ubuntu, Kalimati, Verdana, Arial, Sans-Serif;
}

#wrapper 
{
	margin: 20px 0;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
}

#bd 
{
	padding: 10px 0;
	background: #F2F2F2;
}

#user-bar 
{
	margin: 0 0 5px 0;
	padding: 10px;
}

.center_box 
{
	padding: 10px;
	border: solid 1px #dcdcdc;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	background: #fff;
}

.round_box 
{
	border: solid 1px #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
}

.info_box h1,
.round_box h1
{
	padding: 5px;
	background: #dcdcdc;
}

.link_box ul li a
{
	display: block;
	padding: 10px;
	color: #fff;
	text-decoration: none;
	background-image: linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -o-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -moz-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -webkit-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -ms-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, rgb(70,88,128)),
		color-stop(0.63, rgb(97,115,156)),
		color-stop(0.82, rgb(109,127,166))
	);
}

#quicklinks ul li, 
#promotions ul li 
{
	list-style-type: none;
	display: inline;
}

#quicklinks ul li a,
#promotions ul li a
{
	display: block;
	padding: 10px;
	color: #fff;
	background-image: linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -o-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -moz-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -webkit-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -ms-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, rgb(70,88,128)),
		color-stop(0.63, rgb(97,115,156)),
		color-stop(0.82, rgb(109,127,166))
	);
	text-decoration: none;    
}

.details-box-container {
	float: left;
	width: 100%;
	border: solid 1px #dcdcdc;
}
							
.details-box-left {
	float: left;
	width: 125px;
	border-right: solid 1px #dcdcdc;
}
							
.details-box-cost {
	padding: 5px;
}
							
.details-box-cost h1,
.details-box-cost h2 {
	text-align: center;
}
							
.details-box-cost h1 {
	padding: 20px;
}
							
.details-box-cost h2 {
	padding: 5px;
	border-bottom: dashed 1px #dcdcdc    
}
							
.details-box-right {
	overflow: hidden;
	float: left;
	padding: 5px 0;
	margin-left: 10px;
}
							
.details-buttons-box {
	float: left;
	width: 300px;
}
							
.details-button {
	float: left;
	padding: 5px;
	width: 100px;
}

#cart-table-container table,
.account-login-table 
{
	width: 100%;
	padding: 5px;
	border: solid 1px #dcdcdc;
}

#cart-table-container table th
{
	border: solid 1px #dcdcdc;
	padding: 10px;
	background-image: linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -o-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -moz-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -webkit-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -ms-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, rgb(70,88,128)),
		color-stop(0.63, rgb(97,115,156)),
		color-stop(0.82, rgb(109,127,166))
	);
	color: #fff;
	text-align: center;	    
}

#cart-table-container table td
{
	padding: 5px;
	background-image: -webkit-linear-gradient(#f2f2f2, #dcdcdc);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#dcdcdc));
	background-image: -moz-linear-gradient(#dcdcdc, #dcdcdc);
}

.account-login-table table
{
	width: 100%;
	background-image: -webkit-linear-gradient(#f2f2f2, #dcdcdc);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#dcdcdc));
	background-image: -moz-linear-gradient(#f2f2f2, #dcdcdc);
}

.account-login-table table .td-header {
	font: bold 14px Tahoma,"Lucida Grande", Ubuntu, Kalimati, Verdana, Arial, Sans-Serif;
}

.account-login-table table td {
	padding: 2px;
}

.account-login-table table input[type="text"],
.account-login-table table input[type="password"]
{
	width: 90%
}

.privacy {
	padding: 5px;
}

.privacy h2 {
	font: bold 14px Tahoma,"Lucida Grande", Ubuntu, Kalimati, Verdana, Arial, Sans-Serif;
	margin: 6px 0;
}

.privacy p {
	font: normal 10px Tahoma,"Lucida Grande", Ubuntu, Kalimati, Verdana, Arial, Sans-Serif;
	margin-bottom: 5px;
}

.privacy ul li {
	text-indent: 5px;
	list-style-position: inside;
	list-style-type: disc;
	font-size: 10px;
}