﻿.shadow 
{
	position: relative;
	-webkit-box-shadow: 0px 0px 10px 0px #999;
	-moz-box-shadow: 0px 0px 10px 0px #999;
	box-shadow: 0px 0px 10px 0px #999;
}

.grey1-gradient 
{
	background-image: -webkit-linear-gradient(#fff, #dcdcdc);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#dcdcdc));
	background-image: -moz-linear-gradient(#fff, #dcdcdc);
}

.grey2-gradient 
{
	background-image: -webkit-linear-gradient(#dcdcdc, #999999);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dcdcdc), to(#999999));
	background-image: -moz-linear-gradient(#dcdcdc, #999999);
}

.grey3-gradient 
{
	background-image: -webkit-linear-gradient(#eee, #ccc);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
	background-image: -moz-linear-gradient(#eee, #ccc);
}

.grey4-gradient 
{
	background-image: -webkit-linear-gradient(#999, #666);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999), to(#666));
	background-image: -moz-linear-gradient(#999, #666);
}

.blue-gradient 
{
	background-image: -webkit-linear-gradient(#D0E5F5, #1D5987);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0E5F5), to(#1D5987));
	background-image: -moz-linear-gradient(#D0E5F5, #1D5987);
}

.tv-gradient-1
{
	background-image: linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -o-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -moz-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -webkit-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -ms-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, rgb(70,88,128)),
		color-stop(0.63, rgb(97,115,156)),
		color-stop(0.82, rgb(109,127,166))
	);
}

.accordionHeader, 
.accordionHeaderSelected 
{
	background-image: linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -o-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -moz-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -webkit-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -ms-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, rgb(70,88,128)),
		color-stop(0.63, rgb(97,115,156)),
		color-stop(0.82, rgb(109,127,166))
	);
}

.accordionContent 
{
	padding: 5px;
}

.accordionHeader a,
.accordionHeaderSelected a,
.accordionContent a 
{
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 10px;
}