﻿#ft 
{
	border-top: solid 1px #dcdcdc;
	border-radius: 0px 0px 5px 5px; 
	-moz-border-radius: 0px 0px 5px 5px; 
	-webkit-border-radius: 0px 0px 5px 5px;
	background: #fff;
}

.footer-box 
{
	margin: 5px;
	height: 150px;
	border-right: dotted 1px #dcdcdc;
}

.footer-box.last
{
	border: none;
}

.footer-box h1 
{
	padding: 0;
	margin: 0;
	color: #bbb;
}

#ft ul
{
	list-style-image: url(/Assets/images/arrow.gif);
	list-style-position: inside;
}

#ft ul li a
{
	display: block;
	text-decoration: none;
	padding: 1px 0;
	color: #999;
}

#ft ul li a:hover 
{
	color: #000;
}
