﻿fieldset 
{
    border: solid 1px #dcdcdc;
    padding: 10px;
    margin-top: 10px;
}

fieldset:first-of-type { margin-top: 0; }

fieldset legend 
{
    font: bold 12px Tahoma,"Lucida Grande", Ubuntu, Kalimati, Verdana, Arial, Sans-Serif;
}

fieldset .row 
{
    display: table-row;
}

fieldset .col
{
    display: table-cell;
    padding-right: 10px;
}

fieldset select 
{
    padding: 1px 0 1px 3px;
    box-sizing: border-box;
}

fieldset label 
{
    display: table-cell;
    padding-left: 2px;
    font: normal 12px Tahoma,"Lucida Grande", Ubuntu, Kalimati, Verdana, Arial, Sans-Serif;
    vertical-align: middle;
}

.submit-button 
{
    float: right;
    padding: 10px;
    width: 100px;
    font: bold 12px Tahoma,"Lucida Grande", Ubuntu, Kalimati, Verdana, Arial, Sans-Serif;    
}

.cart-complete-button
{
    float: right;
    padding:10px;
    font: bold 12px Tahoma,"Lucida Grande", Ubuntu, Kalimati, Verdana, Arial, Sans-Serif;
}

.textarea {
    height: 100px;
    width: 100%;
    font: normal 12px Tahoma,"Lucida Grande", Ubuntu, Kalimati, Verdana, Arial, Sans-Serif;
}

.submit-button-left
{
    float: left;
    padding: 10px;
    width: 100px;
    font: bold 12px Tahoma,"Lucida Grande", Ubuntu, Kalimati, Verdana, Arial, Sans-Serif;    
}
