﻿#hd 
{
    height: 150px;
    background-image: url("/cop3855fall11terminalvelocity/Assets/images/hd_bg.png");
	border-radius: 5px 5px 0px 0px; 
	-moz-border-radius: 5px 5px 0px 0px; 
	-webkit-border-radius: 5px 5px 0px 0px;   
}

#logo 
{
    padding: 10px;
}