﻿#menu 
{
	background: #465880;    
}

#menu ul li 
{
	list-style-type: none;
	display: inline;
}

#menu ul li a 
{
	display: block;
	float: left;
	margin: 10px 5px 0 5px;
	padding: 5px 20px;
	text-decoration: none;
	border-left: solid 1px #dcdcdc;
	border-top: solid 1px #dcdcdc;
	border-right: solid 1px #dcdcdc;
	border-radius: 5px 5px 0px 0px; 
	-moz-border-radius: 5px 5px 0px 0px; 
	-webkit-border-radius: 5px 5px 0px 0px;
	background-image: linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -o-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -moz-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -webkit-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -ms-linear-gradient(bottom, rgb(70,88,128) 25%, rgb(97,115,156) 63%, rgb(109,127,166) 82%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.25, rgb(70,88,128)),
		color-stop(0.63, rgb(97,115,156)),
		color-stop(0.82, rgb(109,127,166))
	);    
	color: #fff;
}

#menu ul li a.active 
{
	background: #F2F2F2;
	color: #465880;
}

#menu ul li a:hover 
{
	background: #F2F2F2;
	color: #465880;
}

#acctmenu li 
{
	float: right;
}