﻿p
{
    font: normal 12px Tahoma,"Lucida Grande", Ubuntu, Kalimati, Verdana, Arial, Sans-Serif;
}

h1 
{
    font: bold 14px Tahoma,"Lucida Grande", Ubuntu, Kalimati, Verdana, Arial, Sans-Serif;
}

h2 
{
    font: bold 10px Tahoma,"Lucida Grande", Ubuntu, Kalimati, Verdana, Arial, Sans-Serif;
}

h3
{
    font: bold 8px Tahoma,"Lucida Grande", Ubuntu, Kalimati, Verdana, Arial, Sans-Serif;
}